* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: bold;
}
ul {
  padding: px;
}
.info {
  background: #c9bda7;
  color: white;
  margin: 10px;
  padding: 10px;
}
.info h1{
  text-align: center;
}
.info ul{
  font-size: 20px;
}
.carousel-caption h1 {
  font-size: 60px !important;
}
  #panel1, #flip1, #panel2, #flip2{
    text-align: center;
    border: solid 1px;
    background-color:	#c4c9a7;
    color: white;
    margin: 10px;
  padding: 10px;
  }
  #flip1, #flip2 {
     font-size: 30px;
  }
  #panel1,  #panel2 {
    padding: 50px;
    font-size: 18px;
    text-align: left;
  }
  #panel2 img{
    text-align: center;
  }
  .info2 {
    background: #c9bda7;
    color: white;
    margin: 10px;
    padding: 10px;
  }
  .info2 h1 {
    text-align: center;
  }
  .info2 ul{
    font-size: 20px;
  }



