* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: bold;
}
#myCarousel img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}
ul {
  padding: px;
}
.info {
  background: #c9bda7;
  color: white;
  margin: 50px;
  padding: 50px;
}
.info h1{
  text-align: center;
}
.info ul{
  font-size: 20px;
}
.carousel-caption h1 {
  font-size: 60px !important;
}
  #panel1, #flip1, #panel2, #flip2{
    text-align: center;
    border: solid 1px;
    background-color:	#c4c9a7;
    color: white;
    margin: 50px;
  padding: 50px;
  }
  #flip1, #flip2 {
     font-size: 30px;
     padding: 20px;
  }
  #panel1,  #panel2 {
    padding: 50px;
    font-size: 18px;
    text-align: left;
  }
  #panel2 img{
    text-align: center;
  }
  .info2 {
    background: #c9bda7;
    color: white;
    margin: 50px;
    padding: 50px;
  }
  .info2 h1 {
    text-align: center;
  }
  .info2 ul{
    font-size: 20px;
  }
  .item{
    width: auto
    height: auto
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }


